$color-background: #171715;
$color-text: #ede4d7;
$color-border: #598053;
$color-active: #7ff071;
$color-header: #32322f;
$color-subheader: #1e221b;
$color-navigation: #1d211c;

$color-header-gradient: linear-gradient($color-header, $color-background);
$color-button-gradient-accept: linear-gradient(#66b62d, #457c1e);
$color-button-gradient-decline: linear-gradient(#ae4848, #6d2727);
$color-button-hover:linear-gradient(#73cc33 ,#509023);


$color-forest-green:    #2C821F;
$color-apple:           #43AF3D;
$color-kelp:            #37392E;
$color-tuatara:         #252422;
$color-white-rock:      #EDE4D7; 
$color-ku-crimson:      #E3170A;
$color-shadow:          rgba(0, 0, 0, 0.5);   







/* Base Colors */
$color-primary:    #66B62D;
$color-light:      #ede4d7;
$color-background: #1C1818;
$color-subheader:  #1E221B;
$color-active:     #7FF071;
$color-accent:     #AE4848;
$color-winner:     #FFD700;
$color-black:      #000000;
$color-border:     #598053; 
$color-primary-dark: #457C1E;
$color-accent-dark:  #6D2727;
$color-dark:         #2C2419;
$color-semi-dark:    #32322F;

/* Transparents */
$color-active-glow:             $color-active + 'B3';
$color-black-transparent:       $color-black  + '00';
$color-light-transparent:       $color-light  + 'AB';
$color-light-extra-transparent: $color-light  + '2D';

/* Gradients */
$color-header:         linear-gradient(#{$color-background}       , #{$color-semi-dark}         );
$color-button:         linear-gradient(#{$color-primary}          , #{$color-primary-dark}      );
$color-button-red:     linear-gradient(#{$color-accent}           , #{$color-accent-dark}       );
$color-overlay-top:    linear-gradient(#{$color-black}            , #{$color-black-transparent} );
$color-overlay-bottom: linear-gradient(#{$color-black-transparent}, #{$color-black}             );
$color-black-button:   linear-gradient(#{$color-semi-dark}        , #{$color-background}        );

