$color-background: #171715;
$color-text: #ede4d7;
$color-border: #598053;
$color-active: #7ff071;
$color-header: #32322f;
$color-subheader: #1e221b;

$color-header-gradient: linear-gradient($color-header, $color-background);
$color-button-gradient-accept: linear-gradient(#66b62d, #457c1e);
$color-button-gradient-decline: linear-gradient(#ae4848, #6d2727);
