@import "../../../resources/variables.scss";

.PG-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 100px 20px 100px 20px;
    
    .PG {
        width: 100%;
        text-align: left;
        border-left: 4px solid #598053;
        box-sizing: border-box;
        padding:0 20px; 

        h1 {
            font-size: 32px;
        }
    }

    .games-container {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        max-width: 900px;
        margin-top: 100px;
    }
}

@media (max-width: 957px) {
    .PG-container {
        
        .games-container {
            max-width: 300px;
        }
    }
  }

  @media (max-width: 608px) {
    .PG-container {
        
        .PG {
    
            h1 {
                font-size: 24px;
            }
        }
    }
  }

  @media (max-width: 540px) {
    .PG-container {
        
        .games-container {
            max-width: 150px;
        }
    }
  }
  
