@import "../../../resources/variables.scss";
.HTB{
    text-align: left;
    margin-top: 80px;
    left:5%;
    border-left:4px solid #598053;
    padding:0 20px; 
}
.threeBoxes{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    .arrow{
        width: 1.2%;
    }
}
