@import "../../resources/styles/variables.scss";

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 135px 20px 100px 20px;

  .title {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .searchbar-wrapper {
    width: 100%;
    max-width: 900px;
  }
}

@media (max-width: 608px) {
  .faq {

    .title {
      font-size: 24px;
    }
  }
}

@media (max-width: 957px) {
  .faq {
    padding: 180px 20px 0px 20px;
  }
}

@media only screen and (max-width: 522px) {
  .faq {
    padding: 40px 20px 0px 20px;
  }
}

@media only screen and (max-width: 521px) {
  .faq {
    padding: 40px 20px 0px 20px;
  }
}


@media (max-width: 482px) {
  .faq {
    padding: 40px 20px 0px 20px;
  }
}

@media only screen and (max-width: 322px) {
  .faq {
    padding: 40px 20px 0px 20px;
  }
}

