@import '../../../resources/styles/variables.scss';

.home-about {
    height: 750px;
    background-image: url('../../../resources/images/home-about/gladiator.jpg');
    background-size: cover;
    margin-bottom: -240px;
    padding-bottom: 150px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    .about-label { 
        position: absolute;
        text-align: right;
        width: 420px;
        &.what {
            position: absolute;
            text-align: right;
            left: 20%;
        }
        &.why {
            text-align: left;
            right: 10%;
            top: 180px;
        }
        .about-label-pre-header {
            font-size: 17px;
            opacity: 0.6;
        }
        .about-label-header {
            font-family: $font-header;
            font-weight: 700;
            font-size: 34px;
            
            span {
                color: $color-apple;
            }
        }
    }
}