@import '../../../resources/styles/variables.scss';

.home-about {
    height: 750px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    background-size: cover;
    padding-bottom: 150px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: -20%;
    .about-label { 
        text-align: right;
        width: 420px;
        text-shadow: 2px 2px 5px black;
        &.what {
            text-align: right;
            left: 15%;
            margin-right: 5%;
        }
        &.why {
            text-align: left;
            right: 10%;
            top: 180px;
            margin-left: 5%;
        }
        .about-label-pre-header {
            font-size: 17px;
            opacity: 0.6;
        }
        .about-label-header {
            font-family: $font-header;
            font-weight: 700;
            font-size: 34px;
        }
        .about-info {
            line-height: 30px;
            margin: 25px 0;
        }
        span {
            color: $color-apple;
        }
    }
    .gladiator {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 60%;
        opacity: 0.7;
        min-width: 600px;
        z-index: 20;
        
    }
}