@import url("https://fonts.googleapis.com/css?family=Orbitron:500,700|Roboto");


/**
 * Declaring fonts
 */
 $font-body: 'Roboto', sans-serif;
 $font-header: 'Orbitron', sans-serif;
 $font-sub-header: 'Orbitron Medium', sans-serif;
 $font-mono: 'Roboto Mono', 'sans-serif';