@import "../../../../resources/styles/variables.scss";
.box{
    width: 180px;

.rbbIcon{
    width:100%;
    padding-bottom: 20px;
}
.textUnder{
    width: 100%;

    .label{
        text-align: left;
        padding: 0 9%;
        border-left:4px solid $color-border;
    }
    p{
        width:100%;
        box-sizing: border-box;
        padding-left: calc(9% + 4px);
        text-align: left;
    }
}
}
