@import "../../../../resources/variables.scss";
.box{
    margin-top: 80px;
    width:270px;
    height: 450px;
    padding:5%;
  
.rbbIcon{
    width:100%;
    padding: 60px 0;
}
.textUnder{
    .label{
        padding: 0 20px;
        width:50px;
        border-left:4px solid $color-border;
    }
    p{
        padding: 0 25px;
        text-align: left;
    }
}
}