@import "../../../resources/variables.scss";

%remove-appearence {
  appearance: none;
  outline: none;
  border: none;
  background: none;
}

.searchbar {
  border: 2px solid $color-border;
  border-radius: 10px;
  background-color: $color-text;
  color: $color-background;
  width: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: auto 50px;
  grid-template-rows: 50px;
  grid-template-areas: "input button";

  input {
    @extend %remove-appearence;
    grid-area: "input";
    padding: 0 20px;
    font-size: 0.8rem;

    &::placeholder {
      color: $color-header;
      font-size: 0.8rem;
    }
  }
  button {
    @extend %remove-appearence;
    grid-area: "button";
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      cursor: pointer;
      height: 18px;
    }
  }
}
