@import "../../../../resources/variables.scss";
.gameBox{
    width: 80/3 * 1%;
    padding: 5% 0% 5% 0;
    .gameImage{
        border: 2px solid $color-border;
        position: relative;
        width:auto;
        height:100%;
        border-radius:10px;
        background-size: cover;
        transition:.3s ease-in;
        background-position: center;
        .frontImage{
            position: absolute;
            bottom:0;
            right: -25px;
            left: -25px; 
            height: 120%;
            border: none;
            margin-left: auto;
            margin-right: auto;
           }
      &:hover{
          .textInImage{
              opacity: 1;
              top:0;
              bottom: 0;
          }
          .frontImage{
            filter:brightness(10%);
            transition: 0.2s ease-out;
        }

      }
      .textInImage{
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        opacity:0;
        top:200px;
        bottom: 0px;
        left:0;
        right:0;
        border-radius:10px;
        transition: .2s ease-in-out;
        h3{
            padding: 5px;
            font-size: 1.3rem;
        } 
        h1{
            font-size: 2rem;
        }
        .gamemodes{
            position: absolute;
            padding: 0 2%;
            text-align:center;
            color:$color-text; 
            
        }
        hr{
            background-color:  $color-border;
            height: 4px;
            width: 80%;
            border:none;
            text-align: left;
        }
    }     
    }
    .label{
        margin:5% 0;
        padding: 0 5%;
        width:100%;
        text-align: left;
        border-left:4px solid #598053;
    }
    
}
