@import '../../../resources/styles/colors.scss';
@import '../../../resources/styles/fonts.scss';

.home-concept {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    height: 250px;
    padding: 10px 100px;
    .concept-label {
        margin-right: 20px;
        width: 330px;
        text-align: right;
        transform: translate(-70px, 0px);
        .concept-label-pre-header {
            font-size: 17px;
            opacity: 0.6;
        }
        .concept-label-header {
            font-family: $font-header;
            font-weight: 700;
            font-size: 34px;
            
            span {
                color: $color-apple;
            }
        }
        .concept-label-text {
            margin: 25px 0;
            line-height: 30px;
            span {
                color: $color-apple;
                
                letter-spacing: 1px;
                @for $i from 1 through 5 {
                    &:nth-of-type(#{$i}) {
                        animation: opacityChange 4s #{$i * 0.15}s linear infinite;
                    }
                }
                
                @keyframes opacityChange {
                    0% {
                        opacity: 1;
                    }
                    10% {
                        opacity: 0.4
                    }
                    20% {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .slider {
        .element {
            width: 250px;
            margin-left: 10px;
            border: 1px solid $color-light;
            
        }
    }
}

