@import "../../resources/variables.scss";

$navigation-height: 80px;

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: $navigation-height;
  background-color: $color-navigation;
  z-index: 10000;

  .logo {
    display: flex;
    flex-flow: row;
    img {
      height: $navigation-height - 25px;
    }
    .text {
      color: $color-text;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;
      h4 {
        margin: 2px;
      }
    }
    .mobile {
      display: none;
    }
  }

  .menu {
    a {
      display: inline-block;
      line-height: $navigation-height;
      padding: 0 15px;
      font-size: 1rem;
      color: $color-text;
      &:hover {
        color: $color-active;
      }
    }
    .signup {
      font-size: 0.7rem;
      line-height: $navigation-height - 45px;
      border: 1px solid $color-active;
      background: $color-button-gradient-accept;
      border-radius: 5px;
      margin-left: 5px;
    }

    .active {
      color: $color-active;
    }
    .not-mobile{
      display: inline-block;
    }
  }
  
}

@media only screen and (max-width: 770px) {


  .navigation{
    width: 100%;
    align-content: center;
    flex-wrap: wrap; 
    padding: 0;
    margin: auto;
    height: auto;
    .logo{
      width: 100%;
      align-items: center;
      padding: 5px;
      .text{
        flex-grow: 1;
      }
      .mobile{
        display: inline-block;
        align-items: center;
      }
    }
    .menu{
      width: 100%;
      a  { padding: 0px 5px; line-height: 42px;}

      .not-mobile{
        display: none;
      }
    }
  }

}