@import "../../../resources/variables.scss";

.results {
  text-align: left;
  color: $color-text;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;

  h1 {
    padding: 40px 20px 0 20px;
  }

  .result {
    padding: 20px;
    background: rgba(2, 2, 2, 0.2);
    border: 2px solid $color-border;
    border-radius: 10px;
    margin: 10px 0;
    span {
      width: 50vw;
      min-width: 300px;
      cursor: pointer;
      display: grid;
      grid-template-columns: auto 50px;
      grid-template-rows: auto;
      grid-template-areas: "header button";
      align-items: center;

      img {
        grid-area: "button";
        height: 18px;
      }
      h4 {
        grid-area: "header";
      }
    }
    p {
      margin: 10px 0;
    }
  }
}
