@import "../../resources/variables.scss";
.RBB{
    margin-top: 80px;
    left:80px;
    border-left: 4px solid #598053;
    border-radius:4px;
    padding:0 20px;
    text-align: left;
    font-size: 3rem;
}
.threeButtons{
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    bottom: 80px;
    left: 60px;
}

.computer{
    position: absolute;
    width: 800px;
    right: 80px;
    bottom: 80px;
}

.HTB{
    position: absolute;
    margin-top: 80px;
    left:80px;
    border-left:4px solid #598053;
    padding:0 20px; 
}
.threeBoxes{
    position: relative;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    .arrow{
        width: 20px;
    }
}
.Games{
    position: absolute;
    margin-top: 80px;
    left:80px;
    border-left:4px solid #598053;
    padding:0 20px; 
}
.threeGames{
    position: relative;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
}
