@import "../../resources/styles/variables.scss";

.home {
    .home-hero {
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        height: 78vh;
        min-height: 500px;
        width: 100%;
        background-size: cover;
        background-position: 50%;
        animation: fadeInBg 1s 0.1s forwards;
        
        @keyframes fadeInBg {
            0% {
                transform: translateY(-20px);
                opacity: 0;
            }   
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }

        background-image: url('../../resources/images/home-hero/brawl-hero-xl.jpg');

        @media screen and (max-width: 1150px) {
            background-image: url('../../resources/images/home-hero/brawl-hero-l.jpg');
            background-position: 56%;
        }
        @media screen and (max-width: 850px) {
            background-image: url('../../resources/images/home-hero/brawl-hero-m.jpg');
            background-position: 53%;
        }
        @media screen and (max-width: 560px) {
            background-image: url('../../resources/images/home-hero/brawl-hero-s.jpg');
            top: 30px;
            height: 500px;
            padding-bottom: 70px;
        }
        @media screen and (max-width: 350px) {
            background-image: url('../../resources/images/home-hero/brawl-hero-s.jpg');
            background-position: 30%;
        }
        .home-hero-content {
            position: relative;
            left: 7px;
            width: 650px;
        }
        .home-hero-text {
            position: relative;
            top: 10px;
            z-index: 10;
            font-size: 35px;
            text-transform: uppercase;
            font-family: $font-body;
            color: $color-light;
            font-weight: bold;
            opacity: 0;
            text-shadow: 2px 2px 5px black;
            animation: fadeInText 0.6s 0.8s forwards;
            margin-bottom: 50px;
            span {
                color: $color-apple;
            }
        }

        @keyframes fadeInText {
            0% {
                opacity: 0;
                transform: translateY(100px);
            }
            100% {
                opacity: 1;
                transform: translateY(20px);
            }
        }
    }
    
}


