@import "../../../resources/variables.scss";

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 135px 20px 0px 20px;
  position: relative; // for bouncing arrow positioning

  .content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 900px;

    .left-content {
      width: 350px;
      display: flex;
      align-items: flex-start;;
      justify-content: center;
      flex-flow: column wrap;
      box-sizing: border-box;
      padding: 0px 5px;

      .RBB {
        display: block;
        border-left: 4px solid #598053;
        border-radius: 4px;
        padding: 0 10px;
        text-align: left;
        font-size: 3rem;

        h1 {
          font-size: 74px;
        }
      }

      .RBB-small {
        display: none;
        border-left: 4px solid #598053;
        border-radius: 4px;
        padding: 0 10px;
        text-align: left;
        font-size: 3rem;

        h1 {
          font-size: 74px;
        }
      }
    }
  
    .right-content {
      width: 550px;
      box-sizing: border-box;
      padding: 0px 5px;

      .computerDiv1 {
        width: 100%;
        display: grid;
        grid-template-columns: 3.8% 75.5% 20.7%;
        grid-template-rows: 17.3% 58% 24.7%;

        .computer {
          grid-column: 1 / 4;
          grid-row: 1 / 4;
        }

        .clientImg {
          max-width: 100%;
          grid-column: 2 / 3;
          grid-row: 2 / 3;
        }
      }
    }

    .threeButtons {
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 50px 0px;
    }
  }

  .arrow {
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 15px);
    margin: 0 auto;
    cursor: pointer;
    animation: bounce 2s infinite;
  }
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}

@media (max-width: 957px) {
  .section1 {
    padding: 196px 20px 0px 20px;
    
    .content-wrapper {
  
      .left-content {
        width: 100%;
        margin-bottom: 50px;
  
        .RBB {
          display: none;
        }
  
        .RBB-small {
          display: block;
  
          h1 {
            font-size: 54px;
          }
        }
      }
    }

    .arrow {
      bottom: 0px;
    }
  }
}

@media (max-width: 608px) {
  .section1 {
    
    .content-wrapper {
  
      .left-content {
  
        .RBB-small {
  
          h1 {
            font-size: 24px;
          }
        }
      }

      .right-content {
        width: 100%;
      }
    }
  }
}

@media (max-width: 522px) {
  .section1 {
    padding: 0px 20px 0px 20px;

    .arrow {
      display: none;
    }
  }
}


@media (max-width: 482px) {
  .section1 {
    padding: 45px 20px 0px 20px;
    
    .content-wrapper {
      
      .threeButtons {
        width: 100%;
        flex-flow: column wrap;
      }
    }
  }
}

@media only screen and (max-width: 322px) {
  .section1 {
    padding: 15px 20px 0px 20px;
  }
}
