@import "../../../resources/variables.scss";
.BigButton {
  display: block;
  border-radius: 10px;
  border: none;
  margin: 0 20px;
  outline: 0;
  padding: 12% 5%;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  img {
    position: relative;
    width: 52px;
    align-content: center;
    margin: 5px 0;
  }
 
  .line{
    position: relative;
    display: block;
    margin:10px 0 ;
    padding: 1px 60px;
    opacity: 1;
    
    }
    &:hover{
        .line{
            transition: .5s;
            transform: scale(.3, 1);
        }
    }
}