@import "../../resources/styles/variables.scss";

.footer {
  min-height: 20vh;
  background: $color-background;
  display: flex;
  padding: 60px 0;
  margin: 0 auto;
  .footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    .box {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      .context-container {
        display: flex;
        align-items: center;
        flex-flow: column;
        h4 {
          display: block;
          color: $color-text;
          margin-bottom: 5px;
          font-size: 24px;
        }
        p {
          font-size: 0.9rem;
          color: $color-text;
        }

        a {
          
          font-size: 0.9rem;
          font-family: "Roboto", sans-serif;
          color: $color-text;
          &:hover {
            color: $color-active;
          }
        }
      }
    }
    .copyright {
      grid-area: copy;
      padding: 30px 0 30px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-text;
      font-size: 0.9rem;
      font-family: "Roboto", sans-serif;
      opacity: 0.7;
    }
  }
}
@media only screen and (max-width: 600px) {
  .box {
    width: 100%;
    justify-content: center;
    padding: 20px 0 20px;
    line-height: 20px;
  }
}