@import "../../../resources/variables.scss";
.MediumButton{
    display: block;
    margin:20px;
    width: 270px;
    height: 60px;
    background: $color-button-gradient-accept;
    border-radius: 10px;
    border: 1px solid $color-active;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    h3{
        font-size: 20px;
    }
    &:hover{
        background: $color-button-hover;
    }
}