@import "../../resources/variables.scss";

.grids {
  display: flex;
  flex-flow: column wrap;
  .grid {
    display: grid;
    grid-template-rows: auto;
    margin: 6% 0;
    padding-left: 17%;
    padding-right: 6%;
    justify-content: space-between;

    .text {
      grid-area: text;
      text-align: left;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }

    .img {
      grid-area: img;
      display: flex;
      align-items: center;

      img {
        width: 100%;
      }
    }
  }
}

.sideNav {
  position: fixed;
  left: 0;
  top: calc(50% - 125px);
  background-color: rgba(17, 17, 17, 0.4);
  height: 250px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: flex-start;

  .link {
    cursor: pointer;
    display: block;
    font-size: 14px;
    color: $color-text;
    padding: 0 20px;
    font-family: "Orbitron", sans-serif;
    &:hover {
      color: $color-active;
    }
  }

  .active {
    color: $color-active;
  }
}
