@import 'src/resources/styles/colors';
@import 'src/resources/styles/fonts';
@import "../../resources/styles/variables.scss";

.forgot-password {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 135px 20px 100px 20px;
  flex-flow: row wrap;


  .left-register-content {
    border-left: 4px solid #598053;
    border-radius: 4px;
    padding-left: 8px;
    width: 372px;
    text-align: left;

    h1 {
      font-size: 58px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      color: #ede4d7;
    }
  }

  .right-register-content {
    width: 550px;
    box-sizing: border-box;
    padding: 0px 5px;

    .submit-error {
      padding-top: 15px;
      color: #AE4848;
      width: 100%;
      font-family: 'Roboto', sans-serif;
    }

    .submit-success {
      padding-top: 15px;
      color: white;
      width: 100%;
      font-family: 'Roboto', sans-serif;
    }
  }
}

@media (max-width: 957px) {
  .forgot-password {
    padding: 180px 20px 100px 20px;
    min-height: 0;

    .left-register-content {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 608px) {
  .forgot-password {
    .left-register-content {
      width: 100%;

      h1 {
        font-size: 24px;
      }

      p {
        font-size: 14px;
      }
    }

    .right-register-content {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 522px) {
  .forgot-password {
    padding: 40px 20px 100px 20px;
  }
}

@media only screen and (max-width: 521px) {
  .forgot-password {
    padding: 40px 20px 100px 20px;
  }
}


@media (max-width: 482px) {
  .forgot-password {
    padding: 40px 20px 100px 20px;
  }
}

@media only screen and (max-width: 322px) {
  .forgot-password {
    padding: 40px 20px 100px 20px;
  }
}

