@import "../../resources/variables.scss";

#dlcontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 7%;
}

.download {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#dl {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

p {
  color: $color-text;
}

#logo {
  height: 150px;
}

.logoDiv {
  display: flex;
  flex-flow: row;
  margin-bottom: 20px;
  margin-left: -25px;
}

#logoText {
  color: $color-text;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 45px;
  letter-spacing: 1px;
  line-height: 1.2;
}

#dlBtn {
  background: $color-button-gradient-accept;
  border: 1px solid $color-active;
  border-radius: 7px;
  color: $color-text;
  cursor: pointer;
  width: 300px;
  height: 60px;
  padding: 10px 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  &:hover {
      background: $color-button-hover;
  }
}

#dlText {
  display: inline-block;
  font-size: 18pt;
  font-weight: lighter;
  padding-top: 2px;
}

.dlAlt {
  width: 300px;
  height: 60px;
}

#altTxt {
  font-family: "Roboto", sans-serif;
  float: left;
}

#altImg {
    padding-right: 20px;
}

.dlBtnImg {
  width: 20px;
  float: right;
  cursor: pointer;
}

.computerDiv {
    max-width: 48vw;
    max-height: 48vw;
    display: grid;
    grid-template-columns: 3.8% 75.5% 20.7%;
    grid-template-rows: 17.3% 58% 24.7%;
}

.computerImg {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
}

.clientImg {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#slogan {
  font-family: "Roboto", sans-serif;
  text-align: left;
  max-width: 67%;
}
